*{padding:0px;margin:0px;}
*::-webkit-scrollbar {
    display: none;
  }
.body{overflow: hidden;}
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container .innercontainer {
    height:95%;
    width:95%;
    background-color: rgb(248, 248, 248);
    display:flex;
    border-radius:12px;
    box-shadow: 0px 10px 100px 0px #888888;
    
    
}
.container .innercontainer .left{
   width: 15%;
    height:100%;
    
    
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 3px 18px 0px
   
}

/*Inside left*/
.container .innercontainer .left .name{
    display: flex;
    width:100%;

    justify-content: end;
    color:rgb(9, 5, 42);
    font-family: fantasy;
    font-size: 10px;
    margin-top:20px;
}
.container .innercontainer .left .name h1{
    margin-right:2vw;
}




.container .innercontainer .left .innerLeft{
   
   
}


.left .innerLeft a{
  color:black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.left .innerLeft ul li{
    margin-top: 9vh;
    margin-bottom: 9vh;

}




/*starts from here*/
.right{
    width:90%;
    margin-left:10px;
    overflow: scroll;
    box-shadow: 5px 3px 18px 0px
 

}
.right .header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 3px 18px 0px #888888;
}


.right .header .moto h1 {
  line-height: 0;
}



.right .header .searchMenue input{
    background:transparent;
    border:none;
    height:20px;
    width:500px;
  
    
}

.right .header .searchMenue::-webkit-input-placeholder{
    font-family:cursive;
    border-bottom: #3c3d3e;
     font-size: 18px;
    
}




.right .header .extra a{
    font-family: 40px;
    color:black;

}

.list{
    display:flex;
    align-items: center;
}
.right .header .extra ul li{
    
    margin-right: 10px;
}

.right .header .extra ul li img{
    width:40px;
    height:40px;
    border-radius: 8px;
}

.tocenter{
    width:99%;
  
    display: flex;
    justify-content: center;
}


.container .innercontainer .right .intro {
    max-width:1000px;
    min-width:1000px;
    height:30%;
   display:flex;
   
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
   border-radius: 8px;
    align-items: center;
    box-shadow: 5px 3px 18px 0px #888888;
    margin-left: 20px;

}
.container .innercontainer .right .intro .image{

    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    height:100%;
    overflow:hidden;
   
    border-radius: 8px;
   
   

}


.container .innercontainer .right .intro .image .img{

   
    width:90%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
   background-color: rgb(37, 37, 37);
    border-radius: 8px;
}
.container .innercontainer .right .intro .image img{

    width:90%;
    border-radius: 8px;
    box-shadow: 5px 3px 18px 0px #888888;
  
   
   

}

.container .innercontainer .right .intro .productdetail{
  
}


.products{
    display: flex;
    flex-wrap: wrap;
    

    width:98%;
    justify-content: space-around;
}

.products .product{
    height:55vh;
    width:100%;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;

   justify-content: space-around;
    flex-wrap: wrap;
  
    justify-content: center;
    margin-top:20px;
    box-shadow: 5px 3px 18px 0px #888888;
    overflow:hidden;
   
    
    
}

.products .product .img{
    height:90%;
    width:90%;
   border-radius: 8px;
   
    display:flex;
    justify-content: center;
    background-color: #000000;
    overflow:hidden;
}

.products .product .img img{
    opacity: 0.7;
    transition: 0.5s;
}
.products .product .img img:HOVER{
    opacity: 1;
    transition: 0.5s;
}
.products .product .detail{
width:100%;
   
   text-align: center;

}

.right a{
   text-decoration: none;
   color:rgb(1, 58, 42);
   
   
}
